body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/*Header*/

header {
  border-bottom: 1px solid seashell;
  background-color: black;
  display: flex;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9;
}
header img {
  height: 50px;
  width: auto;
  padding: 10px;
}
nav {
  margin-right: 10px;
}
nav a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  padding: 10px;
}

/*Mission*/

p {
  font-weight: bold;
  padding: 10px;
}
img {
  height: 200px;
  width: 300px
}
.background {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../media/background.jpg");
  margin-top: 69px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.content {
  background-color: black;
  height: auto;
  width: 100%;
}
.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.specials {
  margin: 0 auto;
  height: auto;
  width: 1000px;
}

/*Locations*/

.locations {
  margin: 0 auto;
  height: 500px;
  width: 1200px;
  background-image: url("../media/locations.jpg");
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.items {
  display: flex;
  justify-content: center;
}
.locations-content {
  background-color: black;
  margin: 15px 40px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.oakdale {
  opacity: 1.0;
}

/*Footer*/
.cozy {
  height: 200px;
}
.copyright {
  margin-top: 20px;
  font-weight: bold;
  text-align: left;
}
